Repository nothings/stb, pull requests merged in 2020-02, with the labels that each got.

#860 Pad allocations in setup_{,temp_}malloc for 8-byte alignment
  stb_vorbis.c
Labels: 1 stb_vorbis

#882 Fix for buffer bugs in stb__splitpath_raw and stb_strncpy
  stb.h
Labels: 1 stb.h

#854 STB Vorbis: Coverity static-analysis scan fixes
  stb_vorbis.c
Labels: 1 stb_vorbis

#858 fix possible bug in uniform sample code
  stb_voxel_render.h
Labels: 1 stb_voxel_render

#852 Fix VS2019 warning
  stb_image_resize.h
Labels: 1 stb library w/no tag

#835 stb_image: fix CRC reading at the end of IEND chunk in png file
  stb_image.h
Labels: 1 stb_image, 2 bug

#850 stb_image_write: Update JPEG code to jo_jpeg 1.60
  stb_image_write.h
Labels: 1 stb_image_write

#832 stb_include: fix stb_include_strings iteration
  stb_include.h
Labels: 1 stb library w/no tag

#834 Quell -Wcast-align warnings from Clang
  stb_image_write.h
  stretchy_buffer.h
Labels: 1 stb_image, 2 warning

#831 fix: stb_sprintf - gcc defines __powerpc64__
  stb_sprintf.h
Labels: 1 stb_sprintf

#821 stb_dxt: Fixed compiler warnings C4244 conversion from 'int' to 'unsigned char…
  stb_dxt.h
Labels: 5 stb_dxt

#823 stb_vorbis seek (and invalid file) fixes
  stb_vorbis.c
Labels: 1 stb_vorbis

#815 stb_image_write: fix clang warning
  stb_image_write.h
Labels: 1 stb_image_write

#819 Fix bare backslash n as being a valid whitespace character.
  stb_include.h
Labels: 1 stb library w/no tag

#809 C++ commits
  stb_sprintf.h
Labels: 1 stb_sprintf

#804 Add comment support to stb_vorbis
  stb_vorbis.c
Labels: 1 stb_vorbis

#808 ckjpr1
  stb_truetype.h
Labels: 1 stb_truetype

#791 stb_leakcheck: add support for output to stderr
  stb_leakcheck.h
Labels: 1 stb library w/no tag

#796 stb_image.h: fix warning about unused function 'stbi__err'
  stb_image.h
Labels: 1 stb_image

#786 stb_perlin: extern stb_perlin_noise3_seed
  stb_perlin.h
Labels: 1 stb library w/no tag

#764 stb_image: fix warning (unused parameter ‘bpc’)
  stb_image.h
Labels: 1 stb_image

#779 stb_easy_font: fix multiple definition errors
  stb_easy_font.h
Labels: 1 stb library w/no tag

#759 Allowing Compound Glyphs with `numberOfContours < -1`
  stb_truetype.h
Labels: 1 stb_truetype

#755 stb_image: fixed 'out' nulled but not freed upon failure
  stb_image.h
Labels: 1 stb_image, 2 bug

#743 stb_divide: use return value to indicate errors
  stb_divide.h
Labels: 1 stb library w/no tag, 4 enhancement

#750 Add functions to extract SVG glyphs from font.
  stb_truetype.h
Labels: 1 stb_truetype

#738 Fix gcc warning: expression always true
  stb_image.h
Labels: 1 stb_image

#599 add tests to tests/test_sprintf.c
  tests/test_sprintf.c
Labels: 1 stb_sprintf, 1 tests, code quality
